<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisionApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <VisionApp.Settings>
            <setting name="InspectionFullPanel00" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InspectionFullPanel01" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InspectionFullPanel02" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InspectionFullPanel03" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InspectionStartPanel00" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InspectionStartPanel01" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InspectionStartPanel02" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InspectionStartPanel03" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InspectionEndPanel00" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InspectionEndPanel01" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InspectionEndPanel02" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InspectionEndPanel03" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XMaster0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YMaster0" serializeAs="String">
                <value>0</value>
            </setting>
        </VisionApp.Settings>
    </userSettings>
</configuration>